html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  background: #d4d4d4f7;
  height: 100dvh;
}

main {
  padding-bottom: 6rem;
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: white;
  height: 80px;
  gap: 15px;
}

.top-header h1 {
  font-size: 3.5rem;
}

.top-header i {
  font-size: 2.5rem;
}

.input-area {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 8px;
}

#taskInput {
  border: none;
  border-bottom: 2px solid rgb(44, 40, 40);
  background: transparent;
  font-size: 1.7rem;
  padding: 2rem;
  width: 70%;
  transition: all 0.2s;
}

#taskInput:focus {
  border: none;
  background: none;
}

#taskInput:hover {
  transition: all 0.2s;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.171);
}

#checkBox {
  background: none;
  border: 2px solid red;
}

.input-area button {
  background: rgb(37, 150, 190);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px;
  min-width: 10%;
  transition: background 0.2s;
  font-size: 1.7rem;
}

.input-area button:hover {
  cursor: pointer;
  background-color: rgb(31, 113, 143);
  color: white;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}


#lista {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 50px;
}

#lista h1 {
  font-size: 1.8rem;
  color: #424242;
}

.containerText {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.btnRemove {
  padding: 1rem;
  background: none;
  border: none;
}

.btnRemove i {
  color: rgb(182, 182, 182);
  font-size: 2rem;
  padding: 1.5rem;
}

.btnRemove i:hover {
  cursor: pointer;
  color: rgb(165, 0, 0);
}

.newItem {
  display: flex;
  background-color: rgb(247, 247, 247);
  padding: 20px;
  border-radius: 8px;
  width: 50%; 
  justify-content: space-between;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.02);
}

.newItem p {
  max-width: 80%;
  word-wrap: break-word;
  font-size: 1.6rem;
  padding: 0 15px 0 20px;
  font-family: 'Poppins', sans-serif;
}

.newItemChecked {
  background-color: green;
  color: white;
}

.newItemChecked p {
  text-decoration: line-through;
}

input[type="checkbox"] {
  padding: 1rem;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

